@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
body {
  background-color: #a9b2cd;
  font-family: Architects Daughter, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
header {
  background-image: url(../img/fondo.jpeg);
  color: white;
  opacity: 0.7;
  text-align: center;
}

main {
  margin: 20px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
}

#foto {
  margin-top: 36px;
}

i{
    margin: 5px;
}
