@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}

body{
    height: 1500px;
}

main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/* inicio- header*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
}

h5 {
    background-color:#1CD1B0 ;
    padding: 10px;
    font-size: 15px;
}

h1{
    background-color:  #00669F;
    padding: 15px;
    font-size: 40px;
    position: sticky;
}

#menuNav{
    background-color: black;
    color: white;
    height: 30px;
    
}

#menuNav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menuNav li{
    margin: 0 20px;
}
/* fin - header*/


/* inicio - section */
section{
    display: inline-block;
    width: 300px ;
    margin: 30px auto;
    position: relative;
    border-radius: 60px 60px 0  0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section .divSect{
    height: 300px;
    height: 193px;
    border-radius: 60px 60px 0  0;
}
section #bat{
    background-image: url(../img/fondoBatman.png);    
}

section #har{
    background-image: url(../img/fondoHarley.png)
}

section #mujer{
    background-image: url(../img/fondoMaravilla.png);
}

section #super{
    background-image: url(../img/fondoSuperman.png);
}

h2{
    text-align: center;
    
}

.foto{
    position: absolute;
    top: 113px;
    left: 100px;
    width: 140px;
}

.corazon {
    position: absolute;
    top: 30px;
    left: 30px;
}


.texto{
    height: 350px;
    margin-top: 100px;
}
.texto h2, p{
    margin-top: 10px;
    font-size: 30px;
}

section button{
    position: absolute;
    color: white;
    background: #00669F;
    width: 129px;
    height: 49px;
    top: 560px;
    left: 85px;
    font-size: 15px;
    
}

p{
    padding: 30px;
    font-size: 16px;
}

footer{
    background-color:  #00669F;
    color: white;
    height: 51px;
    font-size: 16px;
    text-align: left;
    padding-bottom: 15px;
    margin-top: 100px;
}


form{
    background-color:  #00669F;
    color: white;
    margin: 30px auto;
    border-radius: 25px;
}

#secForm{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 20px;
}

#secForm input{
    
    width: 90%;
}

textarea{
    width: 90%;
    margin-top: 15px;
}