@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3c2313;
}


#fondoHeader {
  background-color: #f0a83e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

#slider {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h5{
  display: flex;
  background-color: white;
  color: #3c2313;
  padding: 20px;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-size: 40px;
}

i{
  margin-right: 7px;
}

#baner{
  line-height: 35px;
  display: flex;
  
}

#textoBaner{
  margin: 50px;
  font-size: 25px;
  text-align: center;
}

#btnBaner{
  background-color: #f0a83e;
  color: #ffffff;
  
}

#menu{
  text-align: center;
  margin: 40px 0;
}

#cajas{
  display: flex;
  align-items: center;
  justify-content: space-evenl;
  margin: 40px 0;
}

h1{
  margin: 20px;
}

.btnEnviar {
  background-color: #f0a83e;
  color: #ffffff;
}

.text-naranja {
  color: #f0a83e;
}

#fondo-footer {
  background-color: #3c2313;
  color: #ffffff;
}

.fondo-nav {
  background-color: #222222;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li{
  margin: auto 20px;
}




